<div class="row">
  <div class="col">
    {{multi-select elements=model.dispoItems selectedIds=model.selectedDispoItemsIds}}
  </div><br/>
  <div class="col-1">


    <button {{action "addTo" model.dispoItems model.includedItems model.dispoItems }} class = "btn btn-primary btn-fluid">
      {{fa-icon : "forward" }}
    </button>


    <button {{action "addTo" model.dispoItems model.includedItems model.selectedDispoItems }} class = "btn btn-primary btn-fluid">
      {{fa-icon : "step-forward" }}
    </button>


    <button {{action "addTo" model.dispoItems model.includedItems model.selectedDispoItems }} class = "btn btn-primary btn-fluid">
      {{fa-icon : "step-forward" }}
    </button>


    <button {{action "addTo" model.dispoItems model.includedItems model.selectedDispoItems }} class = "btn btn-primary btn-fluid">
      {{fa-icon : "step-forward" }}
    </button>
  </div>

  <div class="col-2">
    {{multi-select elements=model.IncludedItems selectedIds=model.selectedIncludedItemsIds}}
  </div><br/>
</div>