<div class="row">
  <div class="container">
    <div class="row">
      <div class="col">
        {{multi-select elements=model.dispoItems selectedIds=model.selectedDispoItemsIds}}
      </div><br/>
    </div>


  <div class="col">
    <button disabled="{{unless  model.selectedDispoItems.length 'disabled' '' }}"{{action "addTo" model.dispoItems model.includedItems model.selectedDispoItems }} class = "btn btn-primary btn-block">
      <i class="fas fa-step-forward"></i>
    </button>


    <button {{action "addTo" model.dispoItems model.includedItems model.dispoItems }} class = "btn btn-primary btn-block">
      <i class="fas fa-fast-forward"></i>
    </button>


    <button disabled="{{unless model.selectedIncludedItems.length 'disabled' '' }}" {{action "addTo" model.includedItems model.dispoItems model.selectedIncludedItems }} class = "btn btn-primary btn-block">
      <i class="fas fa-step-backward"></i>
    </button>


    <button {{action "addTo" model.includedItems model.dispoItems model.IncludedItems }} class = "btn btn-primary btn-block">
      <i class="fas fa-fast-backward"></i>
    </button>
  </div><br/>


  <div class="col">
    {{multi-select elements=model.IncludedItems selectedIds=model.selectedIncludedItemsIds}}
  </div>
</div>
</div>